*{
    margin: 0;
    padding: 0;
}
body{
   background: radial-gradient(circle, #00e5ff 0%, #0066ff 45%, #001f3f 100%);
}
nav{
    height: 12vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: anime 0.5s ease forwards;
    position:fixed;
    backdrop-filter: blur(10px);
    transition: top .4s ease;
    z-index: 1;
}
.fir{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20PX;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.fir_10{
    background-position: center;
    height: 55px;
    width: 120px;
    margin: 5px 60px 0px 0px;
}
.cal{
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.cal:hover{
    background-color: red;
    transition: all linear 0.1s;
}
.rid{
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.rid:hover{
    background-color: red;
    transition: all linear 0.1s;}
.sec{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.sub{
    font-size: 18px;
    text-transform: capitalize;
    background-color: transparent;
    color: white;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.sub:hover{
    color: red;
    border-bottom: 1px solid red;
    transition: all linear 0.2s;

}
.ibe{
    background-color: red;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.ibe:hover{
    background: linear-gradient(rgb(255, 125, 65),rgb(255, 36, 36));
    filter: drop-shadow(0px 0px 15px rgb(167, 29, 29));
    transition: all linear 0.1s;
}
@media only screen and (max-width:1100px){
    .sub{
        font-size: 15px;
    }
    .cal{
        font-size: 15px;
        padding: 8px 15px ;
    }
    .rid{
        font-size: 15px;
        padding: 8px 15px;
    }
    .fir{
        gap: 10px;
        background-size: 80px;
    }
    nav{
        height: 10vh;
    }
}
@media only screen and (max-width:959px){
    .fir_10{
        height: 40px;
        width: 90px;
    }
    .sec{
        gap: 20px;
    }
    .fir{
        background-size: 70px;
    }
    nav{
        height: 8vh;
    }
    .cal{
        font-size: 14px;
        padding: 6px 8px;
    }
    .rid{
        font-size: 14px;
        padding: 6px 8px;
    }
}
@media only screen and (max-width:831px){
    .fir_10{
        height: 30px;
        width: 70px;
    }
    .cal{
        font-size: 10px;
        padding: 4px 6px;
    }
    .rid{
        font-size: 10px;
        padding: 4px 6px;
    }
    nav{
        height: 6vh;
    }
    .sub{
        font-size: 11px;
    }
    .sec{
        gap: 15px;
    }
    .ibe{
        padding: 4px 8px;
    }
    .fir{
        background-size: 50px;
    }
}
@media only screen and (max-width:628px){
    .fir_10{
        margin: 5px 30px 0px 0px;
        height: 25px;
        width: 50px;
    }
    .cal{
        font-size: 9px;
        padding: 3px 4px;
    }
    .rid{
        font-size: 9px;
        padding: 3px 4px;
    }
    .fir{
        background-position: 5px;
        gap: 5px;
    }
}
@media only screen and (max-width:555px){
    .sub{
        font-size: 6px;
    }
    .fir{
        background-size: 34px;
    }
    .cal{
        font-size: 7px;
    }
    .rid{
        font-size: 7px;
    }
}
@media only screen and (max-width:500px){
    .fir_10{
        margin: 5px 10px 0px 0px;
    }
    .ibe{
        font-size: 7px;
    }
    .sec{
        gap: 8px;
    }
    .fir{
        gap: 0px;
    }
}
.first{
    height: 35vh;
    width: 100vw;
    background-color: #00000000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.had_1{
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-size: 50px;
    color: aliceblue;
}
.p_1{
    line-height: 70px;
}
.btn_1{
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Russo One", sans-serif;
    margin: 0px 40px 0px 0px;
    padding: 0px 35px 20px 35px;
    border: none;
    border-bottom: 8px solid red;
    background: transparent;
    color: aliceblue;
}
.btn_1:hover{
    border-bottom: 8px solid black;
    transition: all linear 0.1s;
}
.btn_2{
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Russo One", sans-serif;
    padding: 0px 35px 20px 35px;
    border: none;
    border-bottom: 8px solid red;
    background: transparent;
    color: aliceblue;
}
.btn_2:hover{
    border-bottom: 8px solid black;
    transition: all linear 0.1s;
}
@media only screen and (max-width:612px){
    .had_1{
        font-size: 30px;
    }
    .btn_1{
        font-size: 15px;
        padding: 0px 30px 20px 30px;
    }
    .btn_2{
        font-size: 15px;
        padding: 0px 30px 20px 30px;
    }
    .first{
        height: 25vh;
    }
}
.second{
    height: 65vh;
    width: 100vw;
    background-color: rgba(0, 238, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.had_2{
    text-transform: capitalize;
    font-family: "Russo One", sans-serif;
    font-size: 30px;
    color: aliceblue;
    margin: 0px 0px 10px 0px;
}
.mot{
    height: 70px;
    padding: 110px 60px;
    background-color: #000000;
    transition: all linear 0.2s;
}
.mot_2:hover{
    transform: scale(1.05);
    border-radius: 6px 12px;
    border-bottom: 3px solid red;
}
@media only screen and (max-width:422px){
    .mot{
        height: 60px;
        padding: 75px 30px;
    }
    .had_2{
        margin: 0px 0px 7px 0px;
    }
    .second{
        height: 45vh;
    }
}
.third{
    height: 45vh;
    width: 100vw;
    background-color:rgba(172, 255, 47, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 0px 50px 0px;
}
.pir{
    height: 90px;
    padding: 100px 60px;
    background-color: rgb(0, 0, 0);
    transition: all linear 0.150s;
}
.pir_2:hover{
    transform: scale(1.05);
    border-radius: 6px 12px;
    transform: translatey(-10px);
    box-shadow: 1px 10px 13px rgb(0, 0, 0);
    border-bottom: 3px solid red;
}
.bre{
    height: 90px;
    padding:100px 50px;
    background-color: rgb(0, 0, 0);
    transition: all linear 0.150s;
}
.bre_2:hover{
    transform: scale(1.05);
    border-radius: 6px 12px;
    transform: translatey(-10px);
    box-shadow: 1px 10px 13px rgb(0, 0, 0);
    border-bottom: 3px solid red;
}
.thrd{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:686px){
    .pir{
        height: 70px;
        padding: 60px 40px;
    }
    .bre{
        height: 70px;
        padding: 60px 30px;
    }
    .third{
        gap: 20px;
        height: 25vh;
    }
}
@media only screen and (max-width:505px){
    .pir{
        height: 60px;
        padding: 40px 25px;
    }
    .bre{
        height: 60px;
        padding: 40px 20px;
    }
    .third{
        height: 20vh;
        gap: 15px;
    }
}
.forth{
    height: 35vh;
    width: 100vw;
    background-color: #00e5ff00;
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}
.main{
    height: 80%;
    width: 16%;
    overflow: hidden;
    transition: all linear 0.2s;
}
.main:hover{
    border-radius: 4px 10px;
}
.pic{
    height: 70%;
    width: 100%;
    background-color: #000000;
    transition: all linear 0.2s;
}
.pic:hover{
    transform: scale(1.05);
    border-radius: 10px 10px;
    border-bottom: 5px solid red;
}
.con_5{
    height: 30%;
    width: 100%;
    background-color: rgba(0, 255, 76, 0);
    font-family: "Russo One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 19px;
    color: azure;
}
.pic_1{
    background-image: url(sunaru\ img.png);
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
}
.pic_2{
    background-image: url(tissot\ img\ \(2\).png);
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
}
.pic_3{
    background-image: url(pata\ img\ \(2\).png);
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
}
.pic_4{
    background-image: url(acerbis\ img\ \(2\).png);
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
}
.pic_5{
    background-image: url(prometeon\ img.png);
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
}
@media only screen and (max-width:1134px){
    .main{
        width: 26%;
        height: 40%;
    }
    .forth{
        height: 70vh;
    }
}
@media only screen and (max-width:729px){
    .pic{
        background-size: 130px;
    }
    .forth{
        height: 55vh;
        gap: 35px;
    }
}
@media only screen and (max-width:518px){
    .main{
        height: 40%;
        width: 28%;
    }
    .forth{
        height: 40vh;
        gap: 20px;
    }
    .pic{
        background-size: 90px;
    }
    .con_5{
        font-size: 15px;
    }
}
@media only screen and (max-width:417px){
    .forth{
        height: 35vh;
        gap: 15px;
    }
}
.pic_11{
    background-image: url(motul\ pic\ \(2\).png);
}
.pic_22{
    background-image: url(pirelli\ img\ \(2\).png);
}
.pic_33{
    background-image: url(prosecco\ img\ \(2\).png);
}
.pic_44{
    background-image: url(tissot\ img\ \(2\).png);
}
.pic_55{
    background-image: url(acerbis\ img\ \(2\).png);
}
.fifth{
    height: 35vh;
    width: 100vw;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.main_2{
    height: 80%;
    width: 25%;
    overflow: hidden;
}
.main_2:hover{
    overflow: hidden;
}
.pic_6{
    height: 80%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: all linear 0.2s;
}
.pic_6:hover{
    transform: scale(1.1);
    border-bottom: 5px solid red;
}
.pic_7{
    background-image: url(prosecco\ img\ \(2\).png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
.pic_8{
    background-image: url(garne\ img.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
.pic_9{
    background-image: url(shad\ img.png);
    background-position: center;
    background-size: 180px;
    background-repeat: no-repeat;
}
.con_6{
     font-family: "Russo One", sans-serif;
     text-transform: capitalize;
     font-size: 19px;
     display: flex;
     justify-content: center;
     padding: 15px 0px 0px 0px;
     color: azure;
}
@media only screen and (max-width:859px){
    .main_2{
        width: 45vw;
        height: 40%;
    }
    .fifth{
        height: 65vh;
        gap: 40px;
    }
}
@media only screen and (max-width:491px){
    .fifth{
        height: 40vh;
        gap: 17px;
    }
    .pic_6{
        background-size: 120px;
    }
    .con_6{
        font-size: 16px;
        padding: 5px 0px 0px 0px;
    }
}
.pic_111{
    background-image: url(ohlins\ img.png);
}
.pic_222{
    background-image: url(arai\ img.png);
}
.pic_333{
    background-image: url(emi\ img.png);
}
.pic_444{
    background-image: url(arrow\ img.png);
}
.pic_555{
    background-image: url(eicma\ img.png);
}
.pic_101{
    background-image: url(panta\ img.png);
}
.pic_202{
    background-image: url(gb\ racing\ img.png);
}
.pic_303{
    background-image: url(digital\ img.png);
}
.pic_404{
    background-image: url(yamaha\ img.png);
}
.pic_505{
    background-image: url(nolan\ img.png);
}
.eleven{
    height: 22vh;
    width: 100vw;
    background-color: rgba(18, 18, 22, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.p_15{
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    color: white;
}
.mot{
    height: 80px;
}
@media only screen and (max-width:462px){
    .p_15{
        font-size: 10px;
    }
    .mot{
        height: 50px;
    }
    .eleven{
        height: 15vh;
    }
}
.twelve{
    height:35vh;
    width: 100vw;
    background-color: rgba(18, 18, 22, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-transform: uppercase;
    font-family: "Russo One", sans-serif;
    font-size: 13px;
    border-bottom: 1px solid gray;
    text-align: center;
}
.pir{
    height: 50px;
}
.bre{
    height: 50px;
}
.sba{
    height: 35px;
}
@media only screen and (max-width:476px){
    .pir{
        height: 40px;
    }
    .bre{
        height: 40px;
    }
    .sba{
        height: 25px;
    }
    .twelve{
        font-size: 10px;
    }
}
.thirteen{
    height: 50vh;
    width: 100vw;
    background-color: rgba(18, 18, 22, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbl_1{
    padding: 10px 40px 10px 3px;
    color: rgb(182, 182, 182);
}
table{
    font-family: "Russo One", sans-serif;
    text-transform: capitalize;
    color: white;
    position: relative;
}
.issu{
    position: absolute;
}
.siz{
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width:780px){
    .siz{
        font-size: 15px;
    }
    .tbl_1{
        font-size: 11px;
        padding: 10px 20px 10px 0px;
    }
}
@media only screen and (max-width:481px){
    .siz{
        font-size: 13px;
    }
    .tbl_1{
        font-size: 9px;
        padding: 10px 10px 10px 0px;
    }
    .thirteen{
        height: 30vh;
    }
}
.fourteen{
    height: 10vh;
    width: 100vw;
    background-color: rgba(18, 18, 22, 0);
    display: flex;
    gap: 300px;
    justify-content: center;
    border-bottom: 1px solid gray;
    padding: 20px 0px 0px 0px;
}
.app{
    height: 70%;
    width: 35%;
    background-color: rgba(18, 18, 22, 0);
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-family: "Russo One", sans-serif;
    text-transform: capitalize;
    color: rgb(223, 223, 223);
}
.ican{
    height: 66%;
    width: 34.5%;
    background-color: rgba(18, 18, 22, 0);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    gap: 10px;
    color: rgb(190, 190, 190);
}
.fa-youtube{
    color: rgb(190, 190, 190);
    transition: all linear 0.2s;
}
.fa-youtube:hover{
    color: red;
    scale: 1.5;
    text-shadow: rgb(0, 0, 0) 3px 3px 4px;
}
.fa-facebook-f{
    color: rgb(190, 190, 190);
    transition: all linear 0.2s;
}
.fa-facebook-f:hover{
    color: #3966FF;
    scale: 1.5;
    text-shadow: rgb(115, 255, 243) 2px 2px 1px;
}
.fa-tiktok{
    color: rgb(190, 190, 190);
    transition: all linear 0.2s;
}
.fa-tiktok:hover{
    scale: 1.5;
    color: rgb(10, 9, 9);
    text-shadow: rgb(167, 39, 39) 2px 2px 2px;
}
.fa-x-twitter{
    color: rgb(190, 190, 190);
    transition: all linear 0.2s;
}
.fa-x-twitter:hover{
    color: rgba(255, 255, 255, 0.384);
    scale: 1.5;
    text-shadow: rgb(0, 0, 0) 4px 4px 3px;
}
.fa-instagram{
    color: rgb(190, 190, 190);
    transition: all linear 0.2s;
}
.fa-instagram:hover{
    color: rgba(255, 255, 255, 0.726);
    scale: 1.5;
    text-shadow: rgb(109, 3, 65) 3px 3px 2px;
}
.lay{
    height: 50px;
    border-radius: 5px;
}
@media only screen and (max-width:1246px){
    .fourteen{
        gap: 100px;
    }
    .app{
        font-size: 10px;
    }
    .lay{
        height: 30px;
    }
    .ican{
        font-size: 17px;
    }
}
@media only screen and (max-width:806px){
    .app{
        font-size: 7px;
    }
    .lay{
        height: 20px;
    }
    .ican{
        font-size: 15px;
    }
}
@media only screen and (max-width:553px){
    .app{
        height: 78%;
        font-size: 13px;
        width: 30%;
    }
    .lay{
        height: 25px;
    }
    .fourteen{
        gap: 50px;
    }
}
@media only screen and (max-width:478px){
    .fourteen{
        gap: 10px;
    }
    .app{
        width: 40%;
    }
    .ican{
        font-size: 12px;
    }
}
.fifteen{
    height: 5vh;
    width: 100vw;
    background-color: rgba(18, 18, 22, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.p_17{
    font-family: "Russo One", sans-serif;
}
@media only screen and (max-width:860px){
    .p_17{
        font-size: 12px;
    }
}
@media only screen and (max-width:655px){
    .p_17{
        font-size: 8px;
    }
}
@media only screen and (max-width:442px){
    .p_17{
        font-size: 9px;
    }
}
.lest{
    padding: 50px 0px 0px 0px;
}
.mot_1{
    background-color: transparent;
    padding: 0px;
}
.pir_1{
    background-color: transparent;
    padding: 0px;
}
.bre_1{
    background-color: transparent;
    padding: 0px;
}
















































